<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Dept.</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let customer of customerList">
        <td>{{ customer._id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.emailAddress }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.dob }}</td>
        <td>{{ customer.department }}</td>
        <td>
          <div class="btn-group me-2">
            <a href="customers/edit/1001" class="btn btn-sm btn-success">Edit</a>
            <a href="customers/delete/1015" class="btn btn-sm btn-outline-danger">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
