<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-5">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'dashboard'" class="nav-link" aria-current="page">
          <i class="fa fa-tachometer me-2" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'loans'" class="nav-link">
          <i class="fa fa-credit-card me-2" aria-hidden="true"></i>
          Loans
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'customers'" class="nav-link">
          <i class="fa fa-user me-2" aria-hidden="true"></i>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'payments'" class="nav-link">
          <i class="fa fa-money me-2" aria-hidden="true"></i>
          Payments
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'invoices'" class="nav-link" href="invoices">
          <i class="fa fa-file-o text-gray-300 me-2" aria-hidden="true"></i>
          Invoices
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'loan-types'" class="nav-link">
          <i class="fa fa-files-o me-2" aria-hidden="true"></i>
          Loans Types
        </a>
      </li>
    </ul>
  </div>
</nav>
