<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-5">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'dashboard'" class="nav-link" aria-current="page">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'loans'" class="nav-link">
          <span data-feather="file"></span>
          Loans
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'customers'" class="nav-link">
          <span data-feather="shopping-cart"></span>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'payments'" class="nav-link">
          <span data-feather="users"></span>
          Payments
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'invoices'" class="nav-link" href="invoices">
          <span data-feather="bar-chart-2"></span>
          Invoices
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="'loan-types'" class="nav-link">
          <span data-feather="layers"></span>
          Loans Plans
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>
