.my-tab .tab-pane{
  border:solid 1px blue;
}

#myTab li button {
  border-color: blue;
  background-color:#A5C967;
}

#myTab li.active button {
  border-bottom-color: transparent;
  background-color:Yellow;
}
