<div class="search-box">
  <form action="">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Category One</a>
                <a class="dropdown-item" href="#">Category Two</a>
                <a class="dropdown-item" href="#">Category Three</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated Category</a>
              </div>
          </div>
          <input type="text" class="form-control" aria-label="Search input with dropdown button">
          <div class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
          </div>
      </div>
  </form>
</div>
